.input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}

.input-block label {
  margin: 0.8rem 0;
  font-weight: 500;
  color: var(--color-text-in-primary);
}

.input-block input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0;
  background-color: var(--color-input-background);
}
